.btn {
	padding: 0 5px;
    background: transparent;
    border: none;
    border-radius: 0;
    transition: all .3s;
    box-shadow: none;
}

.btn:hover {
    background: rgba(255, 255, 255, .1);
}

.btn:active {
	background: rgba(255, 255, 255, .2);
}

.progress-bar {
    background: red;
}

.titlebar, .top-root-box {
    background: #272a34;
    border: none;
    box-shadow: none;
}

.top-root-box {
    border-top: 1px solid #333;
}

.top-progress progress {
    border-radius: 0;
    background: #007bff;
    min-height: 3px;
}

